h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2d572c;
}
input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7fdf7;
}
input[type="text"]:focus, input[type="date"]:focus, select:focus, textarea:focus {
    border-color: #2d572c;
    outline: none;
}
textarea {
    resize: vertical;
    height: 100px;
}
.radio-group {
    margin-bottom: 15px;
}
.radio-group label {
    margin-right: 10px;
    color: #2d572c;
}
.radio-group input[type="radio"] {
    margin-right: 5px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}
.btn-primary {
    background-color: #2d572c;
    color: #fff;
}
.btn-primary:hover {
    background-color: #1e3c1e;
    transform: translateY(-2px);
}
.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}
.btn-secondary:hover {
    background-color: #565e64;
    transform: translateY(-2px);
}

.create-project-form {
    margin-bottom: 100px;
}