<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leaf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="row justify-content-center">
    <div class="login-container">
        <div class="login-header">
            <a href="/">
                <img src="/images/logo.png" class="logo" alt="Logo"/>
            </a>
        </div>
        <form action="/login" method="post" class="login-form" id="loginBtn">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required
                   th:classappend="${param.error} ? 'is-invalid' : ''">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required
                   th:classappend="${param.error} ? 'is-invalid' : ''">
            <div th:if="${param.error}">
                <p class="error-message">Please check your email or password. The email is not registered or you entered
                    the wrong email or password.</p>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <!-- Add checkboxes inside login form -->
            <div class="center-align">
                <div class="form-check" style="display: inline-block; margin-top: 10px; padding-right: 20px">
                    <input style="height: 18px; position: relative; bottom: 6px;" type="checkbox"
                           class="form-check-input" id="saveId" name="saveId">
                    <label class="form-check-label" for="saveId">Remember ID</label>
                </div>
                <div class="form-check" style="display: inline-block; margin-top: 10px;">
                    <input style="height: 18px; position: relative; bottom: 6px;" type="checkbox"
                           class="form-check-input" id="keepLoggedInBtn" name="keepLoggedInBtn">
                    <label class="form-check-label" for="keepLoggedInBtn">Keep me logged in</label>
                </div>
            </div>
            <div class="social-login">
                <a href="/oauth2/authorization/kakao" class="social-login-button kakao">
                    <img class="social-logo" src="/images/social-icon/kakaoIco.png" alt="Kakao login">
                </a>
                <a href="/oauth2/authorization/naver" class="social-login-button naver">
                    <img class="social-logo" src="/images/social-icon/naverIco.png" alt="Naver login">
                </a>
            </div>
            <hr>
            <div class="center-align">
                <a href="/register" class="login-form-link"
                   style="display: inline-block; color: black; text-decoration: none">Find ID</a>
                <a href="/register" class="login-form-link"
                   style="display: inline-block; color: black; text-decoration: none">Find Password</a>
                <a href="/register" class="login-form-link"
                   style="display: inline-block; color: black; text-decoration: none">Sign Up</a>
            </div>
            <div class="login-form-footer">
                ©Leaf. All rights reserved.
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let emailInput = document.getElementById("email");
        let saveIdCheckbox = document.getElementById("saveId");

        if (localStorage.getItem("savedId")) {
            emailInput.value = localStorage.getItem("savedId");
            saveIdCheckbox.checked = true;
        }

        document.querySelector(".login-form").addEventListener("submit", function(event) {
            if (saveIdCheckbox.checked) {
                localStorage.setItem("savedId", emailInput.value);
            } else {
                localStorage.removeItem("savedId");
            }
        });
    });
</script>
</body>
</html>
